<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Message from GetItDone</h1>
<p>
  You have successfully added a task to your project! <br/>
  Task name: <%= @task.name %><br/>
  Task due date: <%= @task.duedate.strftime("%b %d %Y") %> <br/>
</p>
</body>
</html>